.prompt {
  width: 100%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: rgb(18, 18, 18);
}

.prompt > * {
  margin-bottom: 1.3rem;
}

.player__pic {
  width: 150px;
  height: 150px;
}

.player__pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.context {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
}

.context img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.prompt__input {
  font-size: 1.5rem;
}

.prompt__submit {
  padding: 1rem 2rem;
}

.prompt__description {
  white-space: pre-wrap;
  line-height: 1.4rem;
}

.player__info {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

.player__info > * {
  margin: 10px;
}


body {
  background-color: rgb(18, 18, 18);
  color: #fff;
  font-family: monospace;
  font-size: 0.9rem;
}

.prompt__error {
  color: rgb(219, 75, 75);
}

.hide {
  display: none;
}